* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* MAIN */
.background {
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
  border: 15px solid white;
}

.city {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 6em;
  color: rgba(255, 255, 255);
  background-size: cover;
}

/* ROMA */
section.cities:first-child {
  background-image: url('../img/roma.jpg');
  background-size: cover;
}

/* /ROMA */
/* NAPOLI */
section.cities:nth-child(2) {
  background-image: url('../img/napoli.jpg');
  background-size: cover;

}

/* /NAPOLI */
/* MILANO */
section.cities:last-child {
  background-image: url('../img/milano.jpg');
  background-size: cover;

}

/* /MILANO */


/* /MAIN */
